<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>infopage</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/infopageStyle.css">
    <link rel="stylesheet" href="/stylesheets/All.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper nav-bar">
                <a href="/" class="brand-logo">Inventory Manager</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="desktop-nav" class="right hide-on-med-and-down">
                    <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="/invpage"><i class="material-icons left">list</i>Inventory</a></li>
                    <% if (isLoggedIn) { %>
                        <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
                        <li><a href="/logout" class="btn logoutbutton">Logout</a></li>                        
                    <% } else { %>
                        <li><a href="/login" class="btn loginbutton">Login</a></li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <ul id="mobile-nav" class="sidenav">
             <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
             <li><a href="/invpage"><i class="material-icons left">list</i>Inventory</a></li>
             <% if (isLoggedIn) { %>
                <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
                <li><a href="/logout" class="btn red">Logout</a></li>                        
            <% } else { %>
                <li><a href="/login" class="btn blue">Login</a></li>
            <% } %>
        </ul>
    </header>
    <div class="container">
        <div class="topbar">
            <h2 class="title">Item Details:</h2>
            <div class="buttoncontainer">
                <a class="btn-floating btn-large waves-effect waves-light buttons" href=<%="/invpage/item/" + id + "/delete"%>><i class="material-icons grey-text">delete</i></a> 
                <a class="btn-floating btn-large waves-effect waves-light modal-trigger buttons" href="#modal1"><i class="material-icons grey-text">edit</i></a>
                <a class="btn-floating btn-large waves-effect waves-light buttons" href="/invpage"><i class="material-icons grey-text">close</i></a>
            </div>
        </div>
        <table class="highlight maintable">
            <tbody>
                <tr>
                    <th>Item:</th>
                    <td><%= item %></td>
                </tr>
                <tr>
                    <th>Quantity:</th>
                    <td><%= quantity %></td>
                </tr>
                <tr>
                    <th>Description:</th>
                    <td><%= description %></td>
                </tr>
            </tbody>
        </table>
        <div id="modal1" class="modal editmenu">
            <div class="modal-content editmenucontent">
                <div class="modaltopbar">
                    <h2 style="font-size: 30pt; margin-top: 2%; margin-left: 1%">Edit Item:</h2>
                    <a class="btn-floating btn-large waves-effect waves-light modal-close buttons" href="#!" style="margin-left:auto"><i class="material-icons grey-text">close</i></a>
                </div>
                <form method="post" action="/invpage/infopage/<%= id%>">
                    <div class="row">
                        <div class="input-field col s6">
                            <input name="name" id="item_name" type="text" class="validate" value="<%= item%>">
                            <label for="item_name">Item Name</label>
                        </div>
                        <div class="input-field col s5">
                            <input type="number" name="quantity" id="quantityInput" value="<%= quantity%>">
                            <label for="quantityInput" class="active inputline">Quantity</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s11">
                            <input id="description" name="description" type="text" class="validate" value="<%= description%>">
                            <label for="description">Description</label>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="buttondiv">
                            <a class="btn waves-effect waves-light grey-text buttons modal-close" href="#!" name="action" style="background-color: #d5dadd; border-radius: 6px;">Cancel</a>
                            <button class="btn waves-effect waves-light grey-text buttons" type="submit" name="action" style="background-color: #d5dadd; border-radius: 6px;">Confirm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- initialize Materialize elements -->
<script src="/scripts/materialize.js"></script>
</body>
</html>